$bg_color: whitesmoke;
$first_color: #bd9ea6;
$polka_color: #e5e5f7;
$text_color: #3a2f32;

@mixin mainGrid() {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button() {
  align-items: center;
  background-color: $first_color;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: $bg_color;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 100px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

@mixin buttonHover() {
  background-color: $polka_color;
  color: #ffffff;
}

$radius: 2rem;

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#bd9ea6 1.9500000000000002px, #e5e5f7 1.9500000000000002px);
  background-size: 39px 39px;
  height: 100vh;
  @include mainGrid();
}

#main-flex::-webkit-scrollbar{
  display: none;
}

#root {
  grid-row: 2;
  grid-column: 2;
  @include flex();

  #main-flex {
    min-height: 600px;
    max-height: 610px;
    min-width: 400px;
    max-width: 600px;
    overflow-y: scroll;

    background-color: $bg_color;
    border-radius: $radius;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.72);
  }
}