@use 'index';

// @include index.flex();
//         border-radius: index.$radius;
//         width: 60px;
//         height: 30px;
//         font-family: 'Courier New', Courier, monospace;

#form {

    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 24px;
        margin-left: 1rem;
    }

    button {
        align-items: center;
        background-color: index.$first_color;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color:  index.$bg_color;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 100px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;

    }

    button:hover,
    button:focus {
        background-color: index.$polka_color;
        color: #ffffff;
    }
}