@use 'AnimatedRoutes';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

#header {
    @include AnimatedRoutes.flex();
    align-items: baseline !important;
    gap: 1rem;
    
    * {
        font-family: 'Sacramento', cursive;
    }

    h1 {
        font-size: 48px;
        margin: 0px;
    }

    p {
        font-size: 24px;
    }
}

