@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

div {

    p {
        font-family: "sacramento", cursive;
        font-size: 36px;
        margin: 0px;
    }

    img {
        width: 48px;
        height: 48px;
    }
}