@use 'AnimatedRoutes';

#welcome_screen {
    @include AnimatedRoutes.flex();
    flex-direction: column;
    gap: 30px;
    height: 400px;

    p {
        font-size: 30px;
        margin: 0px;
    };

    button {
        @include AnimatedRoutes.button();
    };

    input {
        border: 1px solid AnimatedRoutes.$first_color;
    };
}